<header
  class="w-full h-22 fixed top-0 left-0 flex justify-between items-center z-50 px-6 bg-theme-blue"
>
  <div class="flex justify-center items-center">
    <img
      src="images/logo.webp"
      alt="Logo Gestor de Libros Online"
      class="w-18 object-cover mr-12"
    />
    <nav>
      <ul class="flex gap-8">
        <li>
          <a class="text-white font-poppins font-bold text-sm" href="#inicio"
            >Inicio</a
          >
        </li>
        <li>
          <a class="text-white font-poppins font-bold text-sm" href="#about"
            >Acerca de</a
          >
        </li>
        <li>
          <a class="text-white font-poppins font-bold text-sm" href="#services"
            >Servicios</a
          >
        </li>
        <li>
          <a class="text-white font-poppins font-bold text-sm" href="#contact"
            >Contáctanos</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <button
    class="bg-white w-32 h-10 text-sm rounded-full text-black z-10 font-poppins font-bold cursor-pointer"
    [routerLink]="['/login']"
  >
    Iniciar Sesión
  </button>
</header>
