<!-- Sección principal (Hero): pantalla completa, fondo azul con imagen y texto centrado -->
<section
  class="w-full h-screen bg-theme-blue relative flex flex-col justify-center items-center gap-8 mask-fade-bottom"
>
  <!-- Título principal del hero -->
  <h1 class="text-7xl text-center text-white font-bold z-10 w-4/5">
    Tu biblioteca compartida, <br />
    siempre ordenada.
  </h1>

  <!-- Descripción corta del servicio o app -->
  <p class="text-lg font-poppins font-medium text-white z-10 w-2/5 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
    ipsam eum sapiente repellendus pariatur eos animi vero in ullam corporis
    exercitationem doloribus placeat, fuga suscipit obcaecati. Nemo, maxime
    rerum?
  </p>

  <!-- Botones de llamada a la acción (CTA) -->
  <div class="flex justify-center items-center gap-5">
    <!-- Botón para probar el servicio -->
    <button
      class="bg-white w-32 h-10 text-sm rounded-full text-black z-10 font-poppins font-bold cursor-pointer"
    >
      Probar ahora
    </button>

    <!-- Botón para contactar (enlace anclado a la sección de contacto) -->
    <button
      class="border-white border-solid border w-32 h-10 text-sm rounded-full text-white z-10 font-poppins font-bold cursor-pointer"
    >
      <a href="#contact">Contactar</a>
    </button>
  </div>

  <!-- Imagen decorativa de fondo para el hero -->
  <img
    src="/images/hero.webp"
    alt="Background Hero"
    class="w-full absolute bottom-0 left-0 z-0"
  />
</section>
