<section
  class="w-full h-screen bg-theme-blue relative flex flex-col justify-center items-center gap-8"
>
  <h1 class="text-7xl text-center text-white font-bold z-10 w-4/5">
    Tu biblioteca compartida, <br />
    siempre ordenada.
  </h1>

  <p class="text-lg font-poppins font-medium text-white z-10 w-3/5 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
    ipsam eum sapiente repellendus pariatur eos animi vero in ullam corporis
    exercitationem doloribus placeat, fuga suscipit obcaecati. Nemo, maxime
    rerum?
  </p>

  <div class="flex justify-center items-center gap-5">
    <button
      class="bg-white w-32 h-10 text-sm rounded-full text-black z-10 font-poppins font-bold cursor-pointer"
    >
      Probar ahora
    </button>
    <button
      class="border-white border-solid border w-32 h-10 text-sm rounded-full text-white z-10 font-poppins font-bold cursor-pointer"
    >
      Contactar
    </button>
  </div>

  <img
    src="/images/hero.webp"
    alt="Backgorund Hero"
    class="w-full absolute bottom-0 left-0 z-0"
  />
</section>
