<section class="w-full p-24">
  <app-type-section [type]="'Acerca de'" />

  <div class="w-full flex justify-center items-center gap-8 mt-32">
    <figure class="w-xl h-xl bg-white rounded-xl flex overflow-hidden">
      <img
        src="/images/book-presentation.webp"
        alt="Libro de presentación"
        class="flex-1"
      />
    </figure>

    <div class="w-2/5 flex flex-col justify-center items-start gap-8 p-8">
      <h2 class="text-6xl font-bold text-white">¿Quiénes somos?</h2>
      <p class="text-lg font-poppins font-medium text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus eius
        autem id doloribus quasi ipsum dolor cupiditate architecto! Assumenda
        dicta repellendus labore beatae sed odio molestias et est, magni soluta.
      </p>
      <p class="text-lg font-poppins font-medium text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat aperiam
        libero, cumque sed dolor vel assumenda earum porro magnam ullam quia
        itaque asperiores, repellat aspernatur iure quam autem. Alias, ducimus?
      </p>
    </div>
  </div>
</section>
