<div class="w-screen h-screen flex">
  <div class="w-18 h-full">
    <app-aside />
  </div>
  <div class="w-full h-full flex flex-col">
    <header
      class="w-full flex justify-end items-center gap-6 p-2 bg-transparent shadow-md px-8"
    >
      <img src="" alt="Foto de perfil" class="w-12 h-12 rounded-full" />
    </header>
    <main class="w-full h-full flex flex-col items-center justify-center">
      <h1 class="text-2xl font-bold">Dashboard</h1>
      <p class="text-sm text-gray-500">Bienvenido a tu dashboard</p>
    </main>
  </div>
</div>
