<div
  class="w-full h-full overflow-hidden transition-all duration-300 hover:-translate-y-1 z-0"
>
  <div class="relative aspect-w-2 aspect-h-3">
    <img
      class="w-full h-[392px] object-cover transition-opacity duration-300 opacity-95 group-hover:opacity-100"
      [src]="book().portada"
      alt="Libro"
    />
  </div>
  <div class="content-book flex flex-col justify-between p-4 w-full">
    <h3
      class="font-semibold text-lg truncate text-theme-blue"
      [title]="book().titulo"
    >
      {{ book().titulo }}
    </h3>
    <p
      class="text-sm text-gray-600 break-words whitespace-normal mt-1 h-[60px]"
      [title]="book().descripcionBreve"
    >
      {{ book().descripcionBreve }}
    </p>
    <div class="mt-3 flex justify-end">
      <button
        (click)="onViewBook(book())"
        class="w-full bg-theme-blue hover:bg-theme-green cursor-pointer text-white text-sm font-semibold py-2 px-4 rounded-md focus:outline-none focus:ring focus:ring-blue-300"
      >
        Ver Libro
      </button>
    </div>
  </div>
</div>

<!-- @if (modal()) {
<app-modal [book]="book()" [modal]="modal()" (closeModal)="controlModal()" />
} -->
