aside {
  transition: all 0.3s ease-in-out;
  transform: translateX(-220px);
}

aside:hover {
  transform: translateX(0);
}


header h2 {
  display: none;
}

aside:hover header h2 {
  display: block;
}