<aside
  class="w-72 h-full bg-theme-blue p-4 fixed top-0 left-0 z-10 shadow-lg border-r-white border-r-2"
>
  <div class="flex flex-col gap-4 w-full h-full justify-between items-center">
    <div class="content">
      <header class="flex justify-center items-center gap-2 mb-2">
        <img src="images/logo.webp" alt="Logo Books Manager App" class="w-12" />
        <h2 class="text-xl text-white font-poppins font-bold">
          Book Manager App
        </h2>
      </header>
      <hr class="border-t-2 border-white mb-5" />
      <h1 class="text-white text-xl mb-4">Bienvenido Lector</h1>
      <ul class="list-none pl-5 text-white">
        @for (icon of iconsUser; track $index) {
        <li
          class="mb-2 flex items-center py-2 px-4 hover:bg-theme-green hover:bg-opacity-50 hover:text-white transition duration-300 gap-2 cursor-pointer"
          [routerLink]="[icon.route]"
        >
          <div [innerHTML]="icon.icon" class="text-white"></div>
          <span class="font-poppins text-sm">{{ icon.name | titlecase }}</span>
        </li>
        }
      </ul>
    </div>
    <a
      [routerLink]="['/login']"
      class="font-bold text-xs rounded-full bg-white p-2 text-center w-1/2"
    >
      Cerrar Sesión
    </a>
  </div>
</aside>
