<header
  class="w-full h-24 bg-theme-green text-theme-white flex justify-between items-center px-9 fixed top-0 z-50"
>
  <img src="" alt="Logo" />
  <nav class="w-full">
    <ol class="w-full flex justify-center items-center gap-12">
      <li>
        <a href="#inicio">Inicio</a>
      </li>
      <li>
        <a href="#about">Acerca de</a>
      </li>
      <li>
        <a href="#services">Servicios</a>
      </li>
      <li>
        <a href="#contact">Contáctanos</a>
      </li>
    </ol>
  </nav>
  <button class="cursor-pointer">Ingresar</button>
</header>

<main class="pt-24">
  <section class="w-full min-h-screen" id="inicio">Hero</section>
  <section class="w-full min-h-screen" id="about">About</section>
  <section class="w-full min-h-screen" id="services">Services</section>
  <section class="w-full min-h-screen" id="contact">Contact</section>
</main>

<footer>Footer</footer>
