/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url(/public/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/public/fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/public/fonts/Poppins-Black.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
}

@theme {
  --color-theme-green: #02fe85;
  --color-theme-white: #ffffff;
  --color-theme-blue: #001b64;
  --color-theme-green-light: #2cbbbf;
  --font-poppins: "Poppins", sans-serif;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

html {
  font-family: var(--font-poppins);
}
