<!-- Componente de cabecera, normalmente incluye el logo, navegación y menú -->
<app-header />

<main>
  <!-- Sección principal: Héroe o bienvenida -->
  <section class="w-full min-h-screen" id="inicio">
    <!-- Componente hero: contiene mensaje principal o llamada a la acción -->
    <app-hero />
  </section>

  <!-- Sección "Sobre nosotros" -->
  <section class="w-full min-h-screen" id="about">
    <!-- Componente about: descripción de la empresa, misión, visión, etc. -->
    <app-about />
  </section>

  <!-- Sección de servicios ofrecidos -->
  <section class="w-full min-h-screen" id="services">
    <!-- Componente services: muestra los servicios o productos principales -->
    <app-services />
  </section>

  <!-- Sección de contacto -->
  <section class="w-full min-h-screen" id="contact">
    <!-- Componente contact: formulario de contacto, información de ubicación, etc. -->
    <app-contact />
  </section>
</main>

<!-- Pie de página: usualmente contiene derechos, enlaces rápidos, redes sociales -->
<footer>Footer</footer>
